/* universal */
html {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

h3 {
	text-align: center;
	font-size: 1.8rem;
	padding-bottom: 30px;
	padding-top: 45px;
	font-weight: bold;
}

.Title {
	text-align: center;
}

.grey80 {
	background-color: #F5F5F5;
}

/* When the screen is less than 760, hide the following images */
@media only screen and (max-width: 760px) {
	#phoneImg, #phoneMap {
		display: none;
	}
}


/* Header and top bar */
header {
	background-image: url("../resources/images/background.jpg");
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 20%;
	padding-left: 5rem;
	padding-right: 5rem;
}

nav {
	color: black;
	display: inline; 
}

.firstTarget {
	width: 50%;
	margin-top: 50px;
	background-color: transparent;
} 

#phoneImg {
	width: 400px;
	height: 500px;
	float: right;
}
#head-text {
	color: white;
	text-align: left;
	line-height: 1.2;
	vertical-align: center;
	margin-top: 50px;
}

.btnSection {
	display: flex;
	justify-content: center;
}

.btn-info, .btn-success {
	margin: 5px;
}


/* Jumbotron */
p {
	font-size: 16px;
}

.aboutUs{
	text-align: center;
	margin-top: 40px;
	line-height: 1;
	margin-bottom: 50px;
	padding: 50px;
}

#phoneMap {
	width: 300px;
	height: 400px;
	margin-top: 30px;
}

/* Features section */
.features {
	padding-bottom: 50px;
}
.item {
	text-align: center;
	line-height: 1.2;
	margin: 15px auto;
}
h4 {
	font-weight: bold;
}

.icon {
	width: 90px;
	height: 90px;
}

/* Download Section */
.download {
	background-color: #DCDCDC;
	height: 500px;
}

.textDownload {
	text-align: center;
	padding-left: 50px;
}

.downloadImg {
	width: 450px;
	height: auto;
	background-blend-mode: color-dodge;
	border-radius: 10%
}

/* Screenshots, here there should be a image slider */


#replaceCarousel {
	width: 100%;
	height: auto;
}

/* Statistics section */
.data_stats {
	font-weight: bold;
	margin: 50px 80px;
	display: inline-flex;`
}

.data_stats span {
	color: aquamarine;
	font-size: 2rem;
	transition: font-size 0.7ms;
}

.data_stats span:hover {
	font-size: 3.2rem;
}

#lineChart {
	margin-top: 10px;
	opacity: 0.5;
}

/* How it works section */
.register {
	padding-top: 10%;
}


/* Contact and support */
.support {
	padding: 50px 80px;
	background-color: rgba(179, 179, 204, 0.5);
}

.text {
	padding-left: 120px;
}

.contact, .sayHello {
	line-height: 1.4;
}


/*
	Last three sections
*/
.testimonials {
	background-color: rgba(95, 158, 160, 0.5);
}

.comment {
	display: inline-grid;
	align-items: center;
	padding: 50px;
}

.authors-name {
	font-style: italic;
	align-self: center;
	margin: 10px;
}

.staff {
	display: flex;
	justify-content: space-around;
}

.profile {
	display: inline-flex;
	margin: 30px;
}

#profile-pic {
	width: 50px;
	height: 50px;
}

.download-footer {
	height: 200px;
	background-color: rgba(179, 179, 204, 0.5);
}

.footer {
	width: 100%;
}

.footer ul {
	display: inline-flex;
	justify-content: space-around;
}

.footer li {
	margin: 15px;
}



